@font-face {
  font-family: 'Exo2';
  src: url('./Fonts/Exo2.0-Thin.eot');
  src: local('☺'), url('./Fonts/Exo2.0-Thin.woff') format('woff'), url('./Fonts/Exo2.0-Thin.ttf') format('truetype'), url('./Fonts/Exo2.0-Thin.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
